extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  link(rel="stylesheet" href="/stylesheets/components/user-header.css")
  link(rel="stylesheet" href="/stylesheets/components/about-page.css")

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId, profileFollowId, numberOfFollowers)
  div.about-page-content
    div.about-page-user-detail
      h1.about-page-spacing= `About ${profileUser.firstName} ${profileUser.lastName}`
      p.about-page-spacing= `${profileUser.biography}`
      hr.user-page
      div.about-page-follows
        a.userpage-header-link(href=`/users/${profileUser.id}/followers` alt='followers')= "Followers"
        a.userpage-header-link(href= `/users/${profileUser.id}/following` alt='following')= "Following"
      .social-links
        a.github-logo(href=`${profileUser.github}`): img(src="/images/github.png" class="github-logo")
        a.linked-logo(href=`${profileUser.linkedIn}`): img(src="/images/linkedin.png" class="linked-logo")
      div.about-page-edit-link
        if isCurrentUser
          div.edit-delete
            a(href=`/users/${profileUser.id}/about/edit`) Edit Your Profile
    div.about-page-user-picture
      img.user-profile-pic(src=`${profileUser.profilePicture}`)
