.dropdown-container.hide
  .dropdown-top
    .container-left
      a(href=`/users/${user.id}`): img.dropdown-user-photo(src=user.profilePicture, alt="profile picture").dropdown-item
    .container-right
      a.dropdown-user-name.user-name-margin(href=`/users/${user.id}`) #{user.firstName} #{user.lastName}
      a.dropdown-user-handle(href=`/users/${user.id}`) @#{user.username}
  .dropdown-bottom
    a(class="dropdown-link dropdown-item" href=`/memes/new`) Share a Meme
    a(class="dropdown-link dropdown-item" href=`/users/${user.id}`) Your Memes
    a(class="dropdown-link dropdown-item" href=`/users/${user.id}/followers`) Followers
    a(class="dropdown-link dropdown-item" href=`/users/${user.id}/following`) Following
    a(class="dropdown-link dropdown-item" href=`/users/${user.id}/about/edit`) Edit your profile
    form(action="/users/sign-out" method="post")
      button(class="sign-out-button dropdown-item" type="submit") Sign Out
