extends layout.pug

block content
  h1= `${meme.User.username}'s Meme`
  div
    ul
      li= `Headline: ${meme.headline}`
      li= `Caption: ${meme.caption}`
      img(src=`${meme.link}` alt='login')
      div
      a(href=`/` role='button')= `Likes: ${likes}`
      div
      a(href=`/` role='button') Add a Comment
      h3 Comments:
      each comment in comments
        li= `${comment.dataValues.User.username}: ${comment.dataValues.body} `
      div
      p: a(href='/users/new') New User? Sign Up Here
      p: a(href='/users/sign-in') Sign In to Like and Comment
