extends layout.pug

block content
  h1= `${meme.User.username}'s Meme`
  div
    ul
      li= `Headline: ${meme.headline}`
      li= `Caption: ${meme.caption}`
      img(src=`${meme.link}` alt='meme')
      div
      a(href=`/` role='button')= `Likes: ${likes}`
      div
      a(href=`/comments` role='button') Add a Comment
      form(method="post" id=`$meme.id` class="add-button" action="/api/comments")
      input(type="message" name="comment" placeholder="Write a comment.")
      input(type="submit" value="Add Comment")
      h3 Comments:
      each comment in comments
        li= `${comment.dataValues.User.username}: ${comment.dataValues.body} `
      div
      p: a(href='/users/new') New User? Sign Up Here
      p: a(href='/users/sign-in') Sign In to Like and Comment
      p: a(href='/') Go Back to the Home Page
      p: a(href=`/memes/${meme.id}/edit`) Edit Your Meme
      p: a(href=`/memes/${meme.id}/delete`) Delete Your Meme?
