extends layout.pug

<<<<<<< HEAD
append head
  script(src="/javascripts/comment.js" type="module" defer)
=======
include ./mixins/follows.pug
>>>>>>> main

block content
  div.userpage-header
    h1.user-title= `${meme.User.username}'s Meme`
      //-this anchor should take you to the user's followers page.
    a(href= `/users/${meme.User.id}/following` alt='following')= "Following"
    form(action=`/users/${meme.User.userId}/following` method="post")
      button(type='submit') Follow
    form(action='/users/sign-out' method="post")
      if isLoggedIn
        button(type='submit') Sign Out
    if isLoggedIn === undefined
      p: a(href='/users/new') Sign-Up
      p: a(href='/users/sign-in') Sign In
    p: a(href='/') Home
  hr.user-page
  div.userPosts
    ul
<<<<<<< HEAD
      div
        li= `Headline: ${meme.headline}`
        li= `Caption: ${meme.caption}`
        img(src=`${meme.link}` alt='meme')
        div
        a(href=`/` role='button')= `Likes: ${likes}`
        div
        input(type="message" name="content" id="content" class="content" placeholder="Write a comment.")
        button(id=`${meme.id}` class="add-button") Add Comment
        h3 Comments:
        ul
          each comment in comments
            li= `${comment.User.username}: ${comment.body} `
            if comment.userId === locals.user.id
            li= `${comment.User.username}: ${comment.body} `
              button(id=`${comment.id}`) Delete Comment
              button(id=`${comment.id}`) Edit Comment
      div
        p: a(href='/users/new') New User? Sign Up Here
        p: a(href='/users/sign-in') Sign In to Like and Comment
        p: a(href='/') Go Back to the Home Page
        p: a(href=`/memes/${meme.id}/edit`) Edit Your Meme
        p: a(href=`/memes/${meme.id}/delete`) Delete Your Meme?
=======
      h1.user-page= `${meme.headline}`
      h2.user-page= `${meme.caption}`

      img.user-meme(src=`${meme.link}` alt='meme')
      div.likes-and-comments
        a(href=`/` role='button')= `Likes: ${likes}`
        div Comments:
          each comment in meme.dataValues.Comments
            div.user-comment
              p= `${comment.dataValues.User.username}: ${comment.dataValues.body}`
      p.posted-on= `Posted on: ${dateFormat}`
      hr.bottom
      if currentUser === meme.userId
        div.edit-delete
          a(href=`/memes/${meme.id}/edit`) Edit Your Meme
          a(href=`/memes/${meme.id}/delete`) Delete Your Meme
>>>>>>> main
