extends layout.pug

block content
  h3= `${meme.headline}`
  img(src=`${meme.link}` alt='meme')
  div(class='py-4')
    p Are you sure you want to delete this meme?
  div
    form(action=`/memes/${meme.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(class='btn btn-danger' type='submit') Delete Meme
      a(class='btn btn-warning ml-2' href=`/memes/${meme.id}` role='button') Cancel
