extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug
include ./mixins/likes-and-comments.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  link(rel="stylesheet" href="/stylesheets/components/likes-and-comments.css")
  script(src="/javascripts/comments.js" type="module")
  script(src="/javascripts/likes.js" type='module' defer)

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId, profileFollowId, numberOfFollowers)
  hr.user-page
  div.userPosts
    block side
      div.user-page-content
        div.fixed-position
          img.user-profile-pic(src=`${profileUser.profilePicture}`)
          div.user-page-details
            div.profile-name-bar
              p.user-profile-name-bar= `${profileUser.username}'s Info`
              div.user-bio-description
                p= `${profileUser.biography}`
              div
                if isFollowing
                  +followButton(profileUser.id, currentUserId, "Following", profileFollowId, "unfollow-button", "side-button")
                else
                  +followButton(profileUser.id, currentUserId, "Follow", profileFollowId, "follow-button", "side-button")
          div.user-followings-details
            p.user-followings-header= `${profileUser.firstName}  ${profileUser.lastName} Follows`
            .user-followings-container
              each following in followings.slice(0, 5)
                .following-block
                  a(href=`/users/${following.id}`): img(src=`${following.profilePicture}`)
                  a.followings-link(href=`/users/${following.id}`)= `@${following.username}`
              a.see-all(href=`/users/${profileUser.id}/following`) See all

    div.user-feed
      ul
        each meme in memes
          a.user-page(href=`/memes/${meme.id}`)= `${meme.headline}`
          h2.user-page= `${meme.caption}`
          a(href=`/memes/${meme.id}`): img.user-meme(src=`${meme.link}` alt='meme')
          +likesAndComments(meme)
          +commentsModal(meme, currentUserId)
          p.posted-on= `${meme.updatedAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'})}`
            hr.bottom
          div.end-of-post
//- TODO: ensure comment and like features are working.
//- Add any additional styles to the page
