extends layout.pug

block content
  div.userpage-header
    h1= `${user.username}'s Memes`
      //-this anchor should take you to the user's followers page.
    a(href='/' alt='followers')= "Followers"
    button Follow
  div.userPosts
    ul
      each meme in memes
        h1= `${meme.dataValues.headline}`
        h2= `${meme.dataValues.caption}`
        img.user-meme(src=`${meme.dataValues.link}` alt='meme')
        div
        a(href=`/` role='button')= `Likes: ${meme.dataValues.Likes.length}`
        div Comments:
        each comment in meme.dataValues.Comments
          li= `${comment.dataValues.User.dataValues.username}: ${comment.dataValues.body}`
        div
//- TODO: ensure comment and like features are working.
//- Add any additional styles to the page
