extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  link(rel="stylesheet" href="/stylesheets/components/likes-and-comments.css")
  script(src="/javascripts/user-page-comment.js" type="module" defer)

  //- script(src="/javascripts/user-page.js" type="module")
  script(src="/javascripts/likes.js" type='module' defer)

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId, profileFollowId, numberOfFollowers)
  hr.user-page
  div.userPosts
    block side
      div.user-page-content
        div.fixed-position
          img.user-profile-pic(src=`${profileUser.profilePicture}`)
          div.user-page-details
            div.profile-name-bar
              p.user-profile-name-bar= `${profileUser.username}'s Info`
              div.user-bio-description
                p= `${profileUser.biography}`
              div
                if isFollowing
                  +followButton(profileUser.id, currentUserId, "Following", profileFollowId, "unfollow-button", "side-button")
                else
                  +followButton(profileUser.id, currentUserId, "Follow", profileFollowId, "follow-button", "side-button")
          div.user-followings-details
            p.user-followings-header= `${profileUser.firstName}  ${profileUser.lastName} Follows`
            .user-followings-container
              each following in followings.slice(0, 5)
                .following-block
                  a(href=`/users/${following.id}`): img(src=`${following.profilePicture}`)
                  a.followings-link(href=`/users/${following.id}`)= `@${following.username}`
              a.see-all(href=`/users/${profileUser.id}/following`) See all

    div.user-feed
      ul
        each meme in memes
          a.user-page(href=`/memes/${meme.id}`)= `${meme.dataValues.headline}`
          h2.user-page= `${meme.dataValues.caption}`
          a(href=`/memes/${meme.id}`): img.user-meme(src=`${meme.dataValues.link}` alt='meme')
          .likes-and-comments-section
            .like-bubble.hidden(id=`bubble-${meme.id}`)
              .bubble Like
              .arrow
            .likes-and-comments
              .likes
                img(id=`like-${meme.id}` class=`likeButton` src='/images/happy-emote.png')
                p(id=`likeCount-${meme.id}`)= `${meme.Likes.length}`
              .comments
                img(class='commentButton' id=`comment-${meme.id}` src='/images/chat-bubble-white.png')
                p(id=`commentCount-${meme.id}`)= `${meme.Comments.length}`
            //- div.likes-and-comments
            //-   p(id=`likeCount-${meme.id}` role='button')= `Likes: ${meme.dataValues.Likes.length}`
            //- div.likes-and-comments
            //-   button(id=`like-${meme.id}` class='likeButton') Like
            //- div.likes-and-comments
            //- a(href=`/` role='button')= `Likes: ${meme.dataValues.Likes.length}`
            //- input(type="textarea" name="content" id=`${meme.id}` class="content" placeholder="Write a comment.")
            //- button(id=`${meme.id}` class="add-button") Add Comment
            //- div Comments:
            //- ul.comment-box(id=`comment-${meme.id}`)
            //-   each comment in meme.Comments
            //-     li.content(id=`comment-${comment.id}`)= `${comment.User.username}: ${comment.body}`
            //-       if comment.userId === locals.user.id
            //-         button(id=`${comment.id}` class="delete-button") Delete
            //-         button(id=`${comment.id}` class="edit-button" name=`${meme.id}`) Edit
          p.posted-on= `Posted on ${meme.updatedAt.toLocaleDateString("en-US")}`
            hr.bottom
          div.end-of-post
//- TODO: ensure comment and like features are working.
//- Add any additional styles to the page
