extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  +userpageHeader(user.username, user.id, isCurrentUser, isFollowing, currentUserId)
  hr.user-page
  div.userPosts
    ul
      each meme in memes
        h1.user-page= `${meme.dataValues.headline}`
        h2.user-page= `${meme.dataValues.caption}`
        img.user-meme(src=`${meme.dataValues.link}` alt='meme')
        div.likes-and-comments
          a(href=`/` role='button')= `Likes: ${meme.dataValues.Likes.length}`
          div Comments:
            each comment in meme.dataValues.Comments
              div.user-comment
                p= `${comment.dataValues.User.dataValues.username}: ${comment.dataValues.body}`
        p.posted-on= `Posted on ${meme.dataValues.updatedAt.toLocaleDateString("en-US")}`
        hr.bottom
        div.end-of-post
//- TODO: ensure comment and like features are working.
//- Add any additional styles to the page
