extends layout.pug

include ./mixins/follows.pug

append head
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  script(src="/javascripts/index.js" type="module" defer)

block content
  .userpage-header
    h1.user-title= `${user.username}`
    a.userpage-header-link(href=`/users/${user.id}/followers` alt='followers')= "Followers"
    a.userpage-header-link(href= `/users/${user.id}/following` alt='following')= "Following"
    if !isCurrentUser
      if isFollowing
        +followButton(user.id, currentUserId, "Following")
      else
        +followButton(user.id, currentUserId, "Follow")
  hr.user-page
  div.userPosts
    ul
      each meme in memes
        h1.user-page= `${meme.dataValues.headline}`
        h2.user-page= `${meme.dataValues.caption}`
        img.user-meme(src=`${meme.dataValues.link}` alt='meme')
        div.likes-and-comments
          a(href=`/` role='button')= `Likes: ${meme.dataValues.Likes.length}`
          div Comments:
            each comment in meme.dataValues.Comments
              div.user-comment
                p= `${comment.dataValues.User.dataValues.username}: ${comment.dataValues.body}`
        p.posted-on= `Posted on ${meme.dataValues.updatedAt.toLocaleDateString("en-US")}`
        hr.bottom
        div.end-of-post
//- TODO: ensure comment and like features are working.
//- Add any additional styles to the page
