mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class=null).field
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class=null)

mixin userCard(logo, profile, username, bio, followers, userId)
  .user-card-container
    .user-card
      .user-card-top
        img.user-logo(src=logo)
        a.user-link(href=profile) @#{username}
      .user-card-middle
        p.user-bio #{bio}
      .user-card-bottom
        #{followers} followers
        form(action=`/api/${userId}/follows` method="post")
          button(class="follow-button" type="submit") Follow
