mixin validationErrorSummary(errors)
  if errors
    div(class='alert alert-danger' role='alert')
      p The following error(s) occurred:
      ul
        each error in errors
          li= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null)
  div(class='form-group')
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows='5')= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class='form-control')

mixin trendingMeme(rank, meme, logo, profile, username, memeHfref, headline, date)
  .trending-meme
    p.trending-rank #{rank}
    img.trending-meme(src=meme)
    img.trending-user-logo(src=logo)
    a.trending-username(href=profile) @#{username}
    a.trending-title(href=memeHref) #{headline}
    p.trending-date #{date}

mixin bestMeme(logo, username, meme, profile, headline, memeHref, date, caption = null)
  .best-meme
    img.user-logo(src=logo)
    a.user-link(href=profile) @#{username}
    a.meme-title(href=memeHref) #{headline}
    p.meme-caption #{caption}
    p.meme-date #{date}
    img.meme-image(src=meme)

mixin memeBlock(logo, username, meme, profile, headline, memeHref, date, caption = null)
  .meme-block
    .meme-signature
      img.user-logo(src=logo)
      a.user-link(href=profile) @#{username}
    h2: a.meme-title(href=memeHref) #{headline}
    h3.meme-caption #{caption}
    img.meme-image(src=meme)
    p.meme-date #{date}

mixin userCard(logo, profile, username, bio, followers, userId)
  .user-card-container
    .user-card
      .user-card-top
        img.user-logo(src=logo)
        a.user-link(href=profile) @#{username}
      .user-card-middle
        p.user-bio #{bio}
      .user-card-bottom
        #{followers} followers
        form(action=`/api/${userId}/follows` method="post")
          button(class="follow-btn" type="submit") Follow
