mixin followBlock(user, followerId, text, isCurrentUser, followId)
  .follow-block-left
    img.follow-user-logo(src=user.profilePicture)
  .follow-block-right
    h3.follow-username: a(href=`/users/${user.id}`) @#{user.username}
    p.follow-user-bio #{user.biography}
  +followButton(user.id, followerId, text, followId)

mixin followButton(userId, followerId, text, followId)
  if userId !== followerId
    form(class="follow-form" action=`/users/${followerId}/following` method="post")
      button(class="follow-button", follow=followId, user=userId, follower=followerId type="submit") #{text}
