mixin followBlock(userLogo, userId, username, userBio, followerId)
  .follow-block
    .follow-block-left
      img.follow-user-logo(src=userLogo)
    .follow-block-right
      h3.follow-username: a(href=`/users/${userId}`) @#{username}
      p.follow-user-bio #{userBio}

mixin followButton(userId, followerId)
  button(class="follow-button", user=userId, follower=followerId) Follow
