mixin followBlock(userLogo, userId, username, userBio, followerId, text, isCurrentUser)
  .follow-block-left
    img.follow-user-logo(src=userLogo)
  .follow-block-right
    h3.follow-username: a(href=`/users/${userId}`) @#{username}
    p.follow-user-bio #{userBio}
  +followButton(userId, followerId, text, isCurrentUser)

mixin followButton(userId, followerId, text)
  if !isCurrentUser
    form(class="follow-form" action=`/users/${followerId}/following` method="post")
      button(class="follow-button", user=userId, follower=followerId type="submit") #{text}
