mixin followBlock(followed, followerId, text, followId, type = "follow-button")
  .follow-block-left
    img.follow-user-logo(src=followed.profilePicture)
  .follow-block-right
    h3.follow-username: a(href=`/users/${followed.id}`) @#{followed.username}
    p.follow-user-bio #{followed.biography}
  +followButton(followed.id, followerId, text, followId, type)

mixin followButton(followedId, followerId, text, followId, type = "follow-button")
  if followedId !== followerId
    //- form(class="follow-form" action=`/users/${followerId}/following` method="post")
    button(class=type, follow=followId, user=followedId, follower=followerId type="submit") #{text}
