mixin validationErrorSummary(errors)
  if errors
    .error-container
      span.exit [ x ]
      p The following error(s) occurred:
      ul.error-list
        each error in errors
          li(class='error-message')= error

mixin field(labelText, fieldName, fieldValue, fieldType = 'text', placeholder = null, rows='5')
  div(class=null).field
    label(for=fieldName)= labelText
    if fieldType === 'textarea'
      textarea(id=fieldName name=fieldName class='form-control' rows=rows placeholder=placeholder)= fieldValue
    else
      input(type=fieldType id=fieldName name=fieldName value=fieldValue placeholder=placeholder class=null)
