mixin trendingMeme(rank, memeId, meme, logo, userId, username, headline, date)
  .trending-meme
    div.trending-rank
      p.trending-rank #{rank}
    div.user-info
      div.trending-title
        img.meme-block-user-logo(src=logo)
        a.trending-username(href=`/users/${userId}`) @#{username}
      div.trending-title
        a.trending-title-headline(href=`/memes/${memeId}`) #{headline}
      div.trending-title
        p.trending-date #{date}
    div
      a(href=`/memes/${memeId}`): img.trending-meme(src=meme)
      div.end-of-trending

mixin bestMeme(logo, username, meme, memeId, userId, headline, date, caption = null)
  .best-meme
    a(href=`/users/${userId}`): img.meme-block-user-logo(src=logo)
    a.user-link(href=`/users/${userId}`) @#{username}
    a.meme-title(href=`/memes/${memeId}`) #{headline}
    p.meme-caption #{caption}
    p.meme-date #{date}
    a(href=`/memes/${memeId}`): img.meme-image(src=meme)

mixin memeBlock(meme)
  div.user-feed
    .meme-block
      .meme-signature
        a(href=`/users/${meme.userId}`): img.meme-block-user-logo(src=meme.User.profilePicture)
        a.user-link(href=`/users/${meme.userId}`) @#{meme.User.username}
      div.title-left
        h2: a.meme-title(href=`/memes/${meme.id}`) #{meme.headline}
      div.caption-left
        h3.meme-caption #{meme.caption}
      a(href=`/memes/${meme.id}`): img.meme-image(src=meme.link)
      div.dev-spacing
      div.date-left
        p.meme-date= `${meme.createdAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'})}`
      div.dev-spacing
      hr.bottom-meme-page
      div.bottom-of-page

mixin memeBlockLoggedOut(logo, username, meme, memeId, userId, headline, date, caption = null)
  div.user-feed
    .meme-block
      .meme-signature
        a(href='/users/sign-in'): img.meme-block-user-logo(src=logo)
        a.user-link(href='/users/sign-in') @#{username}
      div.title-left
        h2: a.meme-title(href='/users/sign-in') #{headline}
      div.caption-left
        h3.meme-caption #{caption}
      a(href='/users/sign-in'): img.meme-image(src=meme)
      div.dev-spacing
      div.date-left
        p.meme-date= `${date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'})}`
      div.dev-spacing
      hr.bottom-meme-page
      div.bottom-of-page

mixin trendingMemeLoggedOut(rank, memeId, meme, logo, userId, username, headline, date)
  .trending-meme
    div.trending-rank
      p.trending-rank #{rank}
    div.user-info
      div.trending-title
        img.meme-block-user-logo(src=logo)
        a.trending-username(href='/users/sign-in') @#{username}
      div.trending-title
        a.trending-title-headline(href='/users/sign-in') #{headline}
      div.trending-title
        p.trending-date= `${date.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'})}`
    div
      a(href='/users/sign-in'): img.trending-meme(src=meme)
      div.end-of-trending
