include follows.pug

mixin recommended(userId, bio, username, followerId, image = "/images/user-profile.png")
  .recommended-block
    .rec-left
      a(href=`/users/${userId}`): img.user-photo(src=image)
    .rec-mid
      a(class="recommended-username" href=`/users/${userId}`) #{username}
      p.recommended-bio #{bio}
    .rec-right
      +followButton(userId, followerId, text)
