mixin userFeedMeme(meme)
  a.user-page(href=`/memes/${meme.id}`)= `${meme.headline}`
  h2.user-page= `${meme.caption}`
  a(href=`/memes/${meme.id}`): img.user-meme(src=`${meme.link}` alt='meme')
  +likesAndComments(meme)
  +commentsModal(meme, currentUserId)
  p.posted-on= `${meme.createdAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric'})}`
    hr.bottom
  div.end-of-post
