mixin userpageHeader(username, userId, isCurrentUser, isFollowing, currentUserId)
  .userpage-header
    a.user-title(href=`/users/${userId}`)= `${username}`
    a.userpage-header-link(href=`/users/${userId}/about`)= "About"
    a.userpage-header-link(href=`/users/${userId}/followers` alt='followers')= `${numberOfFollowers} Followers`
    a.userpage-header-link(href= `/users/${userId}/following` alt='following')= "Following"
    if !isCurrentUser
      if isFollowing
        +followButton(userId, currentUserId, "Following")
      else
        +followButton(userId, currentUserId, "Follow")
