mixin userpageHeader(profileUsername, profileId, isCurrentUser, isFollowing, currentUserId, profileFollowId, numberOfFollowers)
  .userpage-header
    a.user-title(href=`/users/${profileId}`)= `${profileUsername}`
    a.userpage-header-link(href=`/users/${profileId}/about`)= "About"
    a.userpage-header-link(href=`/users/${profileId}/followers` alt='followers' class="follower-count")= `${numberOfFollowers} Followers`
    a.userpage-header-link(href= `/users/${profileId}/following` alt='following')= "Following"
    if !isCurrentUser
      if isFollowing
        +followButton(profileId, currentUserId, "Following", profileFollowId, "unfollow-button", "header-button")
      else
        +followButton(profileId, currentUserId, "Follow", profileFollowId, "follow-button", "header-button")
